<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<div >
    <form action="/study/test" method="get">
        <input name="username">
        <input name="password">
        <input name="age">
        <button onclick="submit">提交</button>
    </form>

    <form action="/study/test" method="post">
        <input name="username">
        <input name="password">
        <input name="age">
        <button onclick="submit">提交</button>
    </form>

    <form action="/study/test" method="delete">
        <input name="username">
        <input name="password">
        <input name="age">
        <button onclick="submit">提交</button>
    </form>

</div>
</body>
</html>